body{
    background:#f5d9d5;
    font-family: "Nunito", sans-serif;
}

.description h2{
    font-size: 1.7rem;
    color: #ea1c2c;
    font-weight: 100;
}
.description p{
    font-size: 1rem;
    color: #f081a8;
    font-weight: 100;
    line-height: 1.7;
}
.content{
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar{
    font-size: 1.5rem;
    font-weight: 100;
}
#mainNavbar .nav-link{
    color: white;
    padding-bottom: 0;
}
#mainNavbar .nav-link:hover{
    color: #ea1c2c;
}
#mainNavbar .navbar-brand {
    color: #ea1c2c;
}
#headingGroup span{
    color: #ea1c2c;
}
#headingGroup h1{
    font-weight: 100;
    font-size: 3.5rem;
}

.navbar.scrolled{
    background-color: #dec0de;
    transition: background 300ms;
}

@media (max-width: 1200px){
    #headingGroup h1{
        font-weight: 100;
        font-size: 2.8rem;
    }
}
